body{
  font-family:Arial;
  text-align:center;
  background:#111;
  color:white;
  }
  
  textarea{
  width:80%;
  height:120px;
  margin:20px;
  }
  
  #studio{
  position:relative;
  width:300px;
  margin:auto;
  }
  
  .body{
  width:100%;
  }
  
  .mouth{
  position:absolute;
  width:60px;
  left:120px;
  top:140px;
  }